---
apiVersion: v1
kind: Namespace
metadata:
  name: operators
  labels:
    app.kubernetes.io/name: hostport-operator
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: operators
  labels:
    app.kubernetes.io/name: hostport-operator
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: hostport-operator
  replicas: 1
  template:
    metadata:
      labels:
        app.kubernetes.io/name: hostport-operator
    spec:
      serviceAccountName: controller-manager
      imagePullSecrets:
        - name: harbor-credential
      securityContext:
        runAsNonRoot: true
      containers:
        - command:
            - /manager
          args:
            - --leader-elect
          image: controller:latest
          name: manager
          securityContext:
            allowPrivilegeEscalation: false
          ports:
            - containerPort: 9443
              name: webhook-server
              protocol: TCP
            - containerPort: 8080
              name: metrics
              protocol: TCP
            - containerPort: 8081
              name: health
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            limits:
              cpu: 500m
              memory: 128Mi
            requests:
              cpu: 10m
              memory: 64Mi
          volumeMounts:
            - name: cert
              mountPath: /tmp/k8s-webhook-server/serving-certs
              readOnly: true
      volumes:
        - name: cert
          secret:
            secretName: hostport-operator-webhook-cert
      terminationGracePeriodSeconds: 10
