# ClusterIssuer for self-signed certificates
# This should be created once at the cluster level
# Apply this before deploying hostport-operator if cert-manager is available
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: selfsigned-issuer
spec:
  selfSigned: {}
